.desktop-social-container, .desktop-navigation {
    display: none;
}

header {
    background-color: var(--main-color);
    padding: 15px 20px;

    width: 100%;
    height: 80px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;
}

.name-container {
    display: flex;
    align-items: center;
    gap: 15px;
}

.name-container #profile-img {
    width: 35px;
    border: 2px solid white;
    border-radius: 50%;
}

.name-container #indigital-logo {
    width: 135px;
}

.name-container h1 {
    color: white;
    font: 600 1.2em var(--main-font);
}

.menu {
    width: 30px;
    height: 22px;

    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 3.5px;
}

.menu.active .bar1 {
    width: 100%;
    transform: rotate(-35deg);
    transform-origin: right;
}

.menu.menu.active .bar3 {
    transform: rotate(35deg);
    transform-origin: right;
}

.menu.active .bar2 {
    opacity: 0;
}

.menu div {
    background-color: var(--highlight-color);
    border-radius: 30px;
    height: 5px;
    transition: .3s;
}

.menu .bar1 {
    width: 50%;
}

.menu .bar2 {
    width: 75%;
}

.menu .bar3 {
    width: 100%;
}

@media screen and (min-width: 992px) {
    .menu {
        display: none;
    }

    .desktop-social-container, .desktop-navigation {
        display: block;
    }

    header {
        padding: 15px 4%;
    }

    .name-container {
        width: 30%;
        max-width: 300px;
    }

    .name-container img {
        width: 50px;
    }

    .name-container h1 {
        font-size: 1.5em;
    }

    .desktop-navigation {
        width: 45%;
        max-width: 500px;
    }

    .desktop-navigation ul {
        width: 100%;
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .desktop-navigation a {
        color: white;
        font: normal 1.2em var(--main-font);
        text-decoration: none;
        text-transform: uppercase;
    }

    .desktop-navigation a:hover {
        text-decoration: underline;
    }

    .desktop-social-container {
        width: 20%;
        max-width: 200px;
    }

    .desktop-social-container ul {
        width: 100%;
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .desktop-social-container a {
        color: white;
        background-color: var(--secondary-color);
        font-size: 1.5em;
        text-decoration: none;

        border-radius: 50%;
        box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.1);

        width: 35px;
        height: 35px;
        
        display: flex;
        justify-content: center;
        align-items: center;

        transition: .3s;
    }

    .desktop-social-container a:hover {
        transform: scale(1.2);
    }
}