:root {
    --main-font: 'Poppins', sans-serif;
    --main-color: #032940;
    --secondary-color: #083359;
    --highlight-color: #13C9F2;
    --dull-color: #D0D0D0; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hidden {
    display: none;
}

.highlight {
    color: var(--highlight-color);
}

body, html {
    width: 100%;
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

.introduction-container {
    background-color: var(--secondary-color);
    padding: 20px 0;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.greeting-container {
    color: white;
    font-family: var(--main-font);
    text-align: center;
    width: 90%;
}

.greeting-container h1 {
    font-size: clamp(3em, 10vw, 5em);
    font-weight: normal;
    line-height: 1em;
    width: 100%;
}

.greeting-container p {
    font-size: clamp(1em, 3vw, 1.5em);
    color: var(--highlight-color);
    letter-spacing: 0.1em;
}

.overview-container {
    color: var(--dull-color);
    width: 60vw;
    min-width: 280px;
    max-width: 467px;
}

.overview-container a {
    color: var(--highlight-color);
    text-decoration: none;
}

.overview-container p {
    font: normal clamp(.8em, 2.5vw, 1.1em) var(--main-font);
}

.mobile-social-container {
    margin: 15px auto 0 auto;

    width: 60vw;
    min-width: 280px;
    max-width: 467px;
}

.mobile-social-container ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.mobile-social-container a {
    color: white;
    background-color: var(--main-color);
    font-size: 1.8em;
    text-decoration: none;
    
    width: 40px;
    height: 40px;
    border-radius: 50%;

    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.2);

    display: flex;
    justify-content: center;
    align-items: center;
}

.skills-container {
    background-color: var(--main-color);
    padding-top: 15px;
    padding-bottom: 20px;
}

.skills-title, .projects-title {
    margin-bottom: 15px;
    width: fit-content;
    background-image: linear-gradient(to right, var(--highlight-color), transparent);
}

.skills-title h1, .projects-title h1 {
    color: white;
    font: 500 2em var(--main-font);
    text-indent: 10px;
}

.dev-skills, .design-skills {
    background-color: var(--secondary-color);
    margin: 10px auto;
    padding: 7px 20px;
    width: 90%;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.15);
}

.dev-skills ul, .design-skills ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dev-skills li, .design-skills li {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.dev-skills p, .design-skills p {
    color: white;
    font: 500 1.2em var(--main-font);
}

.dev-skills img, .design-skills img {
    max-width: 50px;
    height: auto;
}

.figma-img {
    max-width: 30px !important;
}

.projects-container {
    background-color: var(--secondary-color);
    padding-top: 15px;
    padding-bottom: 20px;
}

.project-area {
    width: 100%;
    position: relative;
}

.overflow-container {
    width: 90%;
    height: auto;
    margin: auto;
    overflow: hidden;
}

.projects {
    display: flex;
    margin-bottom: 15px;
    transition: .5s;
}

.projects iframe {
    min-width: 100%;
    height: 600px;
    border: 2px solid white;
    border-radius: 10px;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.2);
}

.nav-buttons-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.nav-buttons-container button {
    color: white;
    background-color: transparent;

    border: 2px solid white;
    border-radius: 50%;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);

    width: 42.5px;
    height: 42.5px;
}

.nav-buttons-container a {
    color: var(--main-color);
    background-color: white;
    font: 500 1em var(--main-font);
    text-decoration: none;

    border: 2px solid var(--main-color);
    border-radius: 10px;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);

    padding: 0 10px;
    min-height: 42.5px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

@media screen and (min-width: 992px) {
    .introduction-container, .skills-container, .projects-container, .skills-title, .projects-title {
        background: none;
    }

    .mobile-social-container {
        display: none;
    }

    main {
        background-color: var(--secondary-color);
    }

    .introduction-container {
        align-items: flex-start;
        max-width: 500px;
        margin: auto;
    }

    .skills-container {
        max-width: 500px;
        margin: auto;
    }

    .desktop-flex {
        width: 100%;
        padding: 0 4%;

        display: flex;
        justify-content: space-between;
    }

    .desktop-container {
        width: 48%;
    }

    .projects-container {
        margin: auto;
    }

    .projects-title {
        width: 90%;
        max-width: 400px;
        margin: 0 auto 10px auto;
    }

    .projects-title h1 {
        text-indent: 0;
    }

    .dev-skills, .design-skills {
        width: 100%;
        max-width: none;
    }

    .overflow-container {
        max-width: 400px;
    }

    .projects iframe {
        height: 550px;
    }

    .nav-buttons-container {
        max-width: 400px;
        margin: auto;
    }

    .nav-buttons-container button {
        cursor: pointer;
        transition: .5s;
    }

    .nav-buttons-container button:hover {
        color: var(--main-color);
        background-color: white;
    }

    .nav-buttons-container a {
        transition: .5s;
    }

    .nav-buttons-container a:hover {
        transform: scale(1.05);
    }
}